*/.ipynb_checkpoints
pandas/new_excel_file.xlsx
text/majka.w-lt
text/czech_stemmer.py
text/czech-morfflex-161115.dict
text/reuters_text.csv
text/__pycache__/
machine_learning/train.csv
machine_learning/iris_pickle.pkl
machine_learning/iris_onnx.onnx
machine_learning/houses_onnx.onnx