*/.ipynb_checkpoints
pandas/new_excel_file.xlsx
pandas/csfd-90k-reviews-ranlp2013.xml
text/majka.w-lt
text/czech_stemmer.py
text/czech-morfflex-161115.dict
text/reuters_text.csv
text/csfd-90k-reviews-ranlp2013.xml
text/train_for_fasttext.csv
text/test_for_fasttext.csv
text/for_word_repre.csv
text/fasttext_classification_model.bin
text/fasttext_classification_model_quantized.bin
text/cc.cs.300.vec
text/lid.176.bin
text/model_unsupervised.bin
text/top2vec_nonlem.bin
text/top2vec_nonlem_reduc.bin
__pycache__
.pytest_cache
machine_learning/train.csv
machine_learning/iris_pickle.pkl
machine_learning/iris_onnx.onnx
machine_learning/houses_onnx.onnx
machine_learning/saved_tensor.t
python_general/soubor.html
machine_learning/e5_onnx_large
pyspark/iris.data
pyspark/cereal.csv
graphs/some_graph.jpg
environment
